{% extends "layout/default/template.twig" %}
{% block title %}{{options.title}}{% endblock %}

{% block content %}
    <div class="row">
        {% if options.noticias is not empty %}
            {% for noticia in options.noticias %}
                <div class="col-md-3 mb-2">
                    <div class="card">
                        <img src="{{BASE}}public/img/noticia_1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{noticia.titulo}}</h5>
                            <p class="card-text">
                                {{noticia.descripcion}}
                            </p>
                            <a href="{{BASE}}noticias/noticia/{{noticia.ruta}}" class="btn btn-primary">Ver Detalle</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-info">{{options.warning}} </p>
        {% endif %}
        
        
    </div>
{% endblock %}
