{% extends "layout/default/template.twig" %}
{% block title %}
	{{options.title}}
{% endblock %}

{% block content %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                {{options.subject}}
            </div>
            <div class="card-body">
                {% include "partials/_messages.twig" %}
                {% if options.usuario is not empty %}
                    <table class="table table-hover">
                        <tr>
                            <th>Id:</th>
                            <td>{{options.usuario.id}} </td>
                        </tr>
                        <tr>
                            <th>RUN:</th>
                            <td>{{options.usuario.run}} </td>
                        </tr>
                        <tr>
                            <th>Nombre:</th>
                            <td>{{options.usuario.nombre}} </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{options.usuario.email}} </td>
                        </tr>
                        <tr>
                            <th>Rol:</th>
                            <td>{{options.usuario.role.nombre}} </td>
                        </tr>
                        <tr>
                            <th>Activo:</th>
                            <td>
                                {% if options.usuario.activo == 1 %}
                                    Si
                                {% else %}
                                    No
                                {% endif %}
                                
                            </td>
                        </tr>
                        <tr>
                            <th>Creado:</th>
                            <td>{{options.usuario.created_at|date("d-m-Y H:i:s")}} </td>
                        </tr>
                        <tr>
                            <th>Modificado:</th>
                            <td>{{options.usuario.updated_at|date("d-m-Y H:i:s")}} </td>
                        </tr>
                    </table>
                {% else %}
                    <p class="text-info">{{options.warning}} </p>
                {% endif %}
                
            </div>
            <p>
                <a href="#" onclick="history.back();" class="btn btn-primary">Volver</a>
                <a href="{{BASE}}passwords/edit/{{options.usuario.id}}" class="btn btn-warning">Cambiar Password</a>
            </p>
        </div>
    </div>
{% endblock %}