{% extends "layout/default/template.twig" %}
{% block title %}
	{{options.title}}
{% endblock %}

{% block content %}
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                {{options.subject}}
                <a href="{{BASE}}roles/create" class="btn btn-outline-dark btn-sm">Nuevo Rol</a>
            </div>
            <div class="card-body">
                {% include "partials/_messages.twig" %}
                {% if options.roles is not empty %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for model in options.roles %}
                                <tr>
                                    <td class="col-2">{{model.id}} </td>
                                    <td class="col-8">{{model.nombre}} </td>
                                    <td class="col-2">
                                        <a href="{{BASE}}roles/show/{{model.id}}" class="btn btn-success btn-sm">
                                        {% include "partials/_button_view.twig" %}
                                        </a>
                                        <a href="{{BASE}}roles/edit/{{model.id}}" class="btn btn-warning btn-sm">
                                            {% include "partials/_button_edit.twig" %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-info">{{options.warning}}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
