{% extends "layout/default/template.twig" %}
{% block title %}
	{{options.title}}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {{options.subject}}
                {% if session.user_role == 'Periodista' %}
                    <a href="{{BASE}}{{options.link_create}}" class="btn btn-outline-dark btn-sm">{{options.button_create}}</a>
                {% endif %}
                
            </div>
            <div class="card-body">
                {% include "partials/_messages.twig" %}
                {% if options.noticias is not empty %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-2">Id</th>
                                <th class="col-4">Título</th>
                                <th class="col-2">Autor</th>
                                <th class="col-2">Estado</th>
                                <th class="col-2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for model in options.noticias %}
                                <tr>
                                    <td>{{model.id}} </td>
                                    <td>{{model.titulo}} </td>
                                    <td>{{model.usuario.nombre}} </td>
                                    <td>
                                        {% if model.vigente == 1 %}
                                            <span class="badge text-bg-success">Publicado</span>
                                        {% else %}
                                            <span class="badge text-bg-warning">No Publicado</span>
                                        {% endif %}
                                        
                                    </td>
                                    <td>
                                        <a href="{{BASE}}noticias/show/{{model.id}}" class="btn btn-success btn-sm">
                                        {% include "partials/_button_view.twig" %}
                                        </a>
                                        {% if session.user_role == 'Periodista' %}
                                            <a href="{{BASE}}noticias/edit/{{model.id}}" class="btn btn-warning btn-sm">
                                                {% include "partials/_button_edit.twig" %}
                                            </a>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-info">{{options.warning}}
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
